<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">job-listing</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to("注册") %></li>
      <li><%= link_to("登录") %></li>
    </ul>
  </div>
</nav>
